<link rel="import" href="../polymer/polymer.html">


<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">

  

<!--
Example:

    <las2peer-fileupload></las2peer-fileupload>


@demo demo/index.html
-->

<dom-module id="las2peer-fileupload">
  <template>

    <iron-ajax id="ajax"
                   url = '[[baseUrl]]/fileservice/files'
                   method="POST"
                   params='{}'
                   handle-as="text"
                   on-response="handleResponse"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   >
    </iron-ajax>


    <style>
    :host{
      margin-left: 10px;
      height:50px;
    }

    #file{
     display: none;
    }

    </style>
    <input type="file" name="file" id="file" class="inputfile" on-change="setFiles" />
    

    	<paper-button raised onclick="document.getElementById('file').click()">Upload new Avatar</paper-button>

  </template>
  <script>
    Polymer({
      is: 'las2peer-fileupload',
      properties: {
          _baseUrl:  {
            type: String,
            computed: '_computeBaseURL(baseUrl)'
          },
          data: Object,
          item: Object,

          name: String,

          baseUrl: {
              type: String,
              value: 'https://steen.informatik.rwth-aachen.de:9080',
          },

          response: {
            type: Object,
            notify: true,
            value: ""
          },
         
          _requestHeaders: {
            type: Object,
            computed: '_computeHeaders(loginName,loginPassword,loginOidcToken,loginOidcProvider)'
          }
      },

      handleResponse : function(){
        this.response.apply(this,arguments);
      },

      _computeBaseURL: function(base) {
        return base + "comments";
      },
      _computeHeaders: function(loginName,loginPassword,loginOidcToken,loginOidcProvider) {
        var headers = {};

        if (loginName != null && loginPassword != null) {
          headers["Authorization"] = "Basic " + btoa(loginName + ":" + loginPassword);
        }
        else if(loginOidcToken != null) {
          headers["access_token"] = loginOidcToken;

          if (loginOidcProvider != null) {
            headers["oidc_provider"] = loginOidcProvider;
          }
        }

        return headers;
      },
	  
	  _computeLogin: function(loginName,loginPassword,loginOidcToken,loginOidcProvider) {
        if (loginName != null && loginPassword != null) {
          return true;
        }
        else if(loginOidcToken != null && loginOidcProvider != null && loginOidcToken != "undefined") {
            return true;
        }
        return false;
      },

      ready: function(){
		if(this.loggedIn){
          this.$.ajaxUserinformation.generateRequest();
		}

      },

      setFiles: function(e, detail, sender) {
        var formData = new FormData();
        for (var i = 0, f; f = e.target.files[i]; ++i) {
          formData.append("filecontent", f,
                          f.name);
        }
        formData.append('identifier', 'contactPicutre'+this.name);
        formData.append('description', 'profile picture');

        this.$.ajax.body = formData;
        // Override default type set by core-ajax.
        // Allow browser to set the mime multipart content type itself. 
        this.$.ajax.contentType = null;
        this.$.ajax.generateRequest();
      },

      

      _handleError(event) {
        //alert(event.target.lastResponse);
        console.log(event._);
      },

      _isNull(val) {
        return val == null;
      }
    });
  </script>
</dom-module>
