<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>las2peer-frontend-user-widget demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- import Bootstrap for responsive UI (must) -->
  <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../las2peer-frontend-user-widget.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic las2peer-frontend-user-widget demo</h3>
           <div style="margin:15px;width:150px;">
            <div style="float:right">
              <p>
                Alice
              </p>
              <div id="user-information" style="width:76px;height:55px">
                <las2peer-user-widget base-url="https://las2peer.dbis.rwth-aachen.de:9098" login-name="alice" login-password="pwalice">
                </las2peer-user-widget>
              </div>
            </div>
          </div>
    </div>
  </body>
</html>