e
<link rel="import" href="../polymer/polymer.html">


<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-styles/color.html">
<link rel="import" href="../paper-styles/typography.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../iron-dropdown/x-select.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-badge/paper-badge.html">
<link rel="import" href="../iron-list/iron-list.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
  

<!--
Shows the comments contained in the thread and allows interaction if permission
is set.

Example:

    <user-widget></user-widget>


@demo demo/index.html
-->

<dom-module id="user-widget">
  <template>
  <iron-ajax id="ajaxUserinformation"
                   url = '[[baseUrl]]/contacts/user'
                   params='{}'
                   handle-as="text"
                   on-response="_getUserInformation"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   >
    </iron-ajax>

    <iron-ajax id="ajaxContactInformation"
                   url = '[[baseUrl]]/contacts/user/[[contact]]'
                   params='{}'
                   handle-as="text"
                   on-response="_getContactInformation"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   >
    </iron-ajax>

    <iron-ajax id="ajaxUserinformationUpdate"
                    url = '[[baseUrl]]/contacts/user'
                   method='POST'
                   params='{}'
                   body='{"firstName":"[[firstName]]","lastName":"[[lastName]]","userImage":"[[userImage]]"}'
                   handle-as="json"
                   on-response="_updatedUserInformation"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxAddUser"
                   url = '[[baseUrl]]/contacts/contact/[[contactToAdd]]'
                   params='{}'
                   handle-as="text"
                   on-response="contactAdded"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'>
    </iron-ajax>

    <iron-ajax id="ajaxGetContacts"
                   url = '[[baseUrl]]/contacts/contacts'
                   params='{}'
                   handle-as="json"
                   on-response="_updateContactList"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'>
    </iron-ajax>

    <iron-ajax id="ajaxRemoveContact"
                   url = '[[baseUrl]]/contacts/contact/[[contactToRemove]]'
                   method='POST'
                   params='{}'
                   handle-as="text"
                   on-response="contactRemoved"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxGetPermissions"
                   url = '[[baseUrl]]/contacts/permission'
                   params='{}'
                   handle-as="text"
                   on-response="_updatePermission"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'>
    </iron-ajax>

    <iron-ajax id="ajaxUserPermissionUpdate"
                    url = '[[baseUrl]]/contacts/permission'
                   method='POST'
                   params='{}'
                   body='{"firstName":[[firstNamePermission]],"lastName":[[lastNamePermission]],"userImage":[[userImagePermission]]}'
                   handle-as="json"
                   on-response="loadPermissions"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxGetGroups"
                   url = '[[baseUrl]]/contacts/group'
                   params='{}'
                   handle-as="text"
                   on-response="_updateGroups"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'>
    </iron-ajax>

    <iron-ajax id="ajaxGetGroupMember"
                   url = '[[baseUrl]]/contacts/groupmember/[[group]]'
                   params='{}'
                   handle-as="text"
                   on-response="_updateGroupMemberlist"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'>
    </iron-ajax>

    <iron-ajax id="ajaxAddGroup"
                    url = '[[baseUrl]]/contacts/group'
                   method='POST'
                   params='{}'
                   body='{"name":[[group]]}'
                   handle-as="text"
                   on-response="_groupAdded"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxRemoveGroup"
                    url = '[[baseUrl]]/contacts/group/remove'
                   method='POST'
                   params='{}'
                   body='{"name":[[group]]}'
                   handle-as="text"
                   on-response="_groupRemoved"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxAddGroupMember"
                    url = '[[baseUrl]]/contacts/groupmember'
                   method='POST'
                   params='{}'
                   body='{"groupName":[[group]],"userName":[[contact]]}'
                   handle-as="json"
                   on-response="_memberAdded"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <iron-ajax id="ajaxRemoveGroupMember"
                    url = '[[baseUrl]]/contacts/groupmember/remove'
                   method='POST'
                   params='{}'
                   body='{"groupName":[[group]],"userName":[[contact]]}'
                   handle-as="json"
                   on-response="_memberRemoved"
                   on-error="_handleError"
                   headers = '[[_requestHeaders]]'
                   content-type = 'text/plain'>
    </iron-ajax>

    <style>
    :host{
      margin-left: 10px;
    }
    button {
      border: 0px;
    }
   button:focus {
      outline: none;
    }
      #circular {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        }

        .dropdown-content {
          background-color: white;
          line-height: 20px;
          border-radius: 1px;
          box-shadow: 0px 1px 1px #ccc;
          outline: none;
          margin-top: 42px;
        }

        #dropdown-button{
          margin-top: -5px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          background-image: url('logo.png');
          background-size:  100% 100%;
          background-color: rgba(0,0,0,0);
          box-shadow: 0 0 8px rgba(0, 0, 0, .8);
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
          -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        }

        paper-toggle-button.green {
	    --paper-toggle-button-checked-bar-color:  var(--paper-green-500);
	    --paper-toggle-button-checked-button-color:  var(--paper-green-500);
	    --paper-toggle-button-checked-ink-color: var(--paper-green-500);
	    --paper-toggle-button-unchecked-bar-color:  var(--paper-red-500);
	    --paper-toggle-button-unchecked-button-color:  var(--paper-red-500);
	    --paper-toggle-button-unchecked-ink-color: var(--paper-red-500);
	  }

        a {
      display: block;
      position: relative;
      padding: 1em;
      text-decoration: none;
      color: #337ab7;
    }

        ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
    }
    li:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }

    .horizontal-section {
      padding: 0 !important;
    }
    paper-item {
      --paper-item: {
        cursor: pointer;
      };
    }
    .sublist {
      padding-left: 20px;
      padding-right: 20px;
    }

    .content {
          @apply(--layout-vertical);
          height: 100%;
        }


        .avatar {
          background-size: 100% 100%;
          float:left;
          overflow: hidden;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          box-sizing: border-box;
          background-color: #ddd;
        }

    #itemsList,
        #selectedItemsList {
          @apply(--layout-flex);
        }
        .item {
          @apply(--layout-horizontal);
          cursor: pointer;
          padding: 16px 22px;
          border-bottom: 1px solid #DDD;
        }
        .item:focus,
        .item.selected:focus {
          outline: 0;
          background-color: #ddd;
        }
        .item.selected .star {
          color: var(--paper-blue-600);
        }
        .pad {
          @apply(--layout-flex);
          @apply(--layout-vertical);
          padding: 0 16px;
        }
        .primary {
          font-size: 16px;
        }
        .secondary {
          font-size: 14px;
        }
        .dim {
          color: gray;
        }
        .star {
          width: 24px;
          height: 24px;
        }
        paper-item {
          white-space: nowrap;
          cursor: pointer;
          position: relative;
        }
        paper-item:hover::after {
          content: "－";
          width: 16px;
          height: 16px;
          display: block;
          border-radius: 50% 50%;
          background-color: var(--google-red-300);
          margin-left: 10px;
          line-height: 16px;
          text-align: center;
          color: white;
          font-weight: bold;
          text-decoration: none;
          position: absolute;
          right: 15px;
          top: calc(50% - 8px);
        }
        .no-selection {
          color: #999;
          margin-left: 10px;
          line-height: 50px;
        }
        iron-list {
          @apply(--layout-flex);
        }

        paper-dialog-scrollable {
          @apply(--layout-flex);
        }

        	paper-button.green {
	    background-color: var(--paper-green-500);
	    color: white;
	  }

	paper-icon-button.red {
	    background-color: var(--paper-red-500);
	    color: white;
	    height:32px;
	    width:32px;
	    border-radius: 50% 50%;
	  }

    </style>
    <x-select id="dropdown" horizontal-align="right" vertical-align="top" no-overlap="true" vertical-offset="10">  
          <button class="dropdown-trigger" id="dropdown-button"></button>
			<template is="dom-if" if="{{loggedIn}}">
          <ul class="dropdown-content" tabindex="0">
              <li><a href="javascript:void(0)" on-click="_editProfile">Edit profile</a></li>
              <li><a href="javascript:void(0)" on-click="_editRights">Change privacy</a></li>
              <li><a href="javascript:void(0)" on-click="_editContacts">Manage Contacts</a></li>
              <li><a href="javascript:void(0)" on-click="_editGroups">Manage Groups</a></li>
	</template>
          </ul>
        </x-select>
        <paper-dialog id="editUser" modal on-iron-overlay-closed="editUserFunction" style="width:400px" >
        <p><h4>User Information</h4></p>
      <p>First name:  <paper-input id="firstName" label="first name" no-label-float value="{{firstName}}"></paper-input></p>
      <p>Last name: <paper-input id="lastName" label="last name" no-label-float value="{{lastName}}"></paper-input></p>
      <p>User image: <paper-input id="userImage" label="user image" width="250px" no-label-float value="{{userImage}}"></paper-input></p>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus>Save</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="editRights" modal style="width:400px" >
        <p><h4>Privacy</h4></p>
        <p>
        <table width="300px" style="border-collapse:separate; border-spacing:1em;">
	        <tr>
	        	<td>First name:</td>
	        	<td>Private</td>
	        	<td><paper-toggle-button id="firstNamePermission" on-click="changePermission" noink class="green"></paper-toggle-button></td>
	        	<td>Public</td>
	        </tr>
	        <tr>
	        	<td>Last name:</td>
	        	<td>Private</td>
	        	<td><paper-toggle-button id="lastNamePermission" on-click="changePermission" noink class="green"></paper-toggle-button></td>
	        	<td>Public</td>
	        </tr>
	        <tr>
	        	<td>User image:</td>
	        	<td>Private</td>
	        	<td><paper-toggle-button id="userImagePermission" on-click="changePermission" noink class="green"></paper-toggle-button></td>
	        	<td>Public</td>
	        </tr>
        </table>

        </p>
      <div class="buttons">
        <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>


    <paper-dialog id="editContacts" modal style="width:400px" >
        <p>
        <h4>Contacts:</h4>
        <p>
        <table>
        <tr>
       	<td><paper-input id="addContactName" label="Contact name" no-label-float ></paper-input></td>
       	<td><paper-button raised on-click="addContact" class="green"><iron-icon icon="add"></iron-icon>Add</paper-button></td>
        </tr>
        </table>

        <p>
        <paper-dialog-scrollable>
        <div id="userContacts">
        	<iron-list id='itemsList' items='[[contacts]]' selection-enabled multi-selection style='overflow-y:scroll; max-height:200px'>
        		<template>
        			<div style='padding:5px;display:inline;'><div  id="img[[item]]" class="avatar" ></div>
        				<div style='margin-left:5px; position:relative; top:8px;display:inline;'>[[item]]</div>
        				<div style='float:right'><paper-icon-button class="red" icon="remove" on-click='removeContact' id="[[item]]"></paper-icon-button></div>
        			</div>
        		</template>
        	</iron-list>
        </div>
        </paper-dialog-scrollable>
          </p>
        </p>
        </p>
      <div class="buttons">
        <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="editGroups" modal style="width:400px" >
        <p>
        <h4>Groups:</h4>
        <p>
        <table>
        <tr>
        <td><paper-input id="addGroupName" label="Group name" no-label-float ></paper-input></td>
        <td><paper-button raised on-click="addGroup" class="green"><iron-icon icon="add"></iron-icon>Add</paper-button></td>
        </tr>
        </table>
        <br>
        <table>
        <tr>
          <td>
              <select class="form-control" on-change="_updateGroupMemberlist2" id="groupSelect" style="width:150px">
                <template is="dom-repeat" items="[[groups]]">
                 <option value="{{item}}">{{item}}</option>
                </template>
              </select>

          </td>
          <td></td>
        </tr>
        </table>
        <p>
        <paper-dialog-scrollable>
        <div id="userGroupMember">
          <iron-list id='itemsList' items='[[groupMember]]' selection-enabled multi-selection style='overflow-y:scroll; max-height:200px'>
            <template>
              <div style='padding:5px;display:inline;'><div  id="imgg[[item]]" class="avatar" ></div>
                <div style='margin-left:5px; position:relative; top:8px;display:inline;'>[[item]]</div>
                <div style='float:right'><paper-icon-button class="red" icon="remove" on-click='removeGroupMember' id="[[item]]"></paper-icon-button></div>
              </div>
            </template>
          </iron-list>
        </div>
        </paper-dialog-scrollable>
          </p>
          <p>
            <table>
        <tr>
          <td>Add a friend:</td>
          <td></td>
        </tr>
        <tr>
        <td><select class="form-control" id="memberSelect" style="width:150px">
                <template is="dom-repeat" items="[[contactsCanAdd]]">
                 <option value="{{item}}">{{item}}</option>
                </template>
              </select></td>
        <td><paper-button raised on-click="addGroupMember" class="green"><iron-icon icon="add"></iron-icon>Add</paper-button></td>
        </tr>
        </table>
          </p>
        </p>
        </p>
      <div class="buttons">
        <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>

  </template>
  <script>
    Polymer({
      is: 'user-widget',
      properties: {
          _baseUrl:  {
            type: String,
            computed: '_computeBaseURL(baseUrl)'
          },
          data: Object,
          baseUrl: {
              type: String,
              value: 'https://steen.informatik.rwth-aachen.de:9080',
          },
          hover:{
            type: Boolean,
            value: false
          },
          loginName: {
            type: String,
            value: null
          },
          loginPassword: {
            type: String,
            value: null
          },

          firstName:{
            type: String,
            notify: true,
            value: null
          },

          lastName:{
            type: String,
            value:null,
            notify:true
          },

          userImage:{
            type: String,
            value:null
          },

          firstNamePermission:{
            type: Boolean,
            notify: true,
            value: null
          },

          lastNamePermission:{
            type: Boolean,
            value:null,
            notify:true
          },

          userImagePermission:{
            type: Boolean,
            value:null
          },

          loginOidcToken: {
            type: String,
            value: null
          },
          loginOidcProvider: {
            type: String,
            value: null
          },

          contactToAdd:{
            type: String,
            value: null
          },

          contactToRemove:{
            type: String,
            value: null
          },

          contacts:{
          	type: Object,
          	value:[]
          },

          contactsCanAdd:{
            type: Object,
            value:[]
          },

          contact:{
            type: String,
            value: null
          },

          group:{
            type: String,
            value: null
          },

          groups:{
            type: Object,
            value: []
          },

          groupMember:{
            type: Object,
            value: []
          },

          loggedIn:{
            type: Boolean,
			computed: '_computeLogin(loginName,loginPassword,loginOidcToken,loginOidcProvider)'
          },
          _requestHeaders: {
            type: Object,
            computed: '_computeHeaders(loginName,loginPassword,loginOidcToken,loginOidcProvider)'
          }
      },

      addUser: function(list,user) {
        this.push(list, user);
      },

      removeUser: function(list,user) {
        var index = this.contacts.indexOf(user);
        if(index!=-1){
          this.splice(list, index, 1);
        }
      },

      removeUserCanAdd: function(list,user) {
        var index = this.contactsCanAdd.indexOf(user);
        if(index != -1){
          this.splice(list, index, 1);
        }
      },

      addContact: function (e, detail){
        var cta = document.getElementById('addContactName').value;
        this.contactToAdd = cta;
        this.$.ajaxAddUser.generateRequest();
      },

      addGroup: function(e,detail){
        var groupName = document.getElementById("addGroupName").value;
        this.group = groupName;
        this.$.ajaxAddGroup.generateRequest();
      },

      _editProfile(event){
          var dropdown = document.getElementById("dropdown");
          dropdown.close();
          var dialog = document.getElementById("editUser");
          if (dialog) {
            dialog.open();
          }
      }, 

      _editRights(event){
        var dropdown = document.getElementById("dropdown");
          dropdown.close();
          var dialog = document.getElementById("editRights");
          if (dialog) { 
            this.$.ajaxGetPermissions.generateRequest();
            dialog.open();
          }
      }, 

      _editContacts(event){
        var dropdown = document.getElementById("dropdown");
          dropdown.close();
          var dialog = document.getElementById("editContacts");
          if (dialog) {
            dialog.open();
            this.$.ajaxGetContacts.generateRequest();
          }
      }, 

      _editGroups(event){
        var dropdown = document.getElementById("dropdown");
          dropdown.close();
          var dialog = document.getElementById("editGroups");
          if (dialog) {
            dialog.open();
            this.$.ajaxGetGroups.generateRequest();
          }
      }, 

      _computeBaseURL: function(base) {
        return base + "comments";
      },
      _computeHeaders: function(loginName,loginPassword,loginOidcToken,loginOidcProvider) {
        var headers = {};

        if (loginName != null && loginPassword != null) {
          headers["Authorization"] = "Basic " + btoa(loginName + ":" + loginPassword);
        }
        else if(loginOidcToken != null) {
          headers["access_token"] = loginOidcToken;

          if (loginOidcProvider != null) {
            headers["oidc_provider"] = loginOidcProvider;
          }
        }

        return headers;
      },
	  
	  _computeLogin: function(loginName,loginPassword,loginOidcToken,loginOidcProvider) {
        if (loginName != null && loginPassword != null) {
          return true;
        }
        else if(loginOidcToken != null && loginOidcProvider != null && loginOidcToken != "undefined") {
            return true;
        }
        return false;
      },

      ready: function(){
		if(this.loggedIn){
          this.$.ajaxUserinformation.generateRequest();
          this.$.ajaxGetContacts.generateRequest();
          this.$.ajaxGetGroups.generateRequest();
		}

      },

      editUserFunction(event){
         if (event.detail.confirmed) {
            firstName = document.getElementById('firstName').value;
            lastName = document.getElementById('lastName').value;
            userImage = document.getElementById('userImage').value;
             this.$.ajaxUserinformationUpdate.generateRequest();
         }else{
          document.getElementById('firstName').setAttribute('value',firstName);
          document.getElementById('lastName').setAttribute('value',lastName);
          document.getElementById('userImage').setAttribute('value',userImage);
         }
      },

      changePermission : function(event, detail){
        var p1 = document.getElementById("firstNamePermission");
        var p2 = document.getElementById("lastNamePermission");
        var p3 = document.getElementById("userImagePermission");
        this.firstNamePermission = p1.checked;
        this.lastNamePermission = p2.checked;
        this.userImagePermission = p3.checked;
        this.$.ajaxUserPermissionUpdate.generateRequest();
      },

      loadPermissions : function(event,detail){
        this.$.ajaxGetPermissions.generateRequest;
      },

      removeContact : function(event, detail){
      	console.log("Removing " + event.path[1].id + " from your contact list");
      	this.contactToRemove = event.path[1].id + "";
      	this.$.ajaxRemoveContact.generateRequest();

      },

      removeGroupMember: function(event,detail){
        this.contact = event.path[1].id + "";
        this.group = document.getElementById("groupSelect").value.trim();
        this.$.ajaxRemoveGroupMember.generateRequest();
      },


      contactAdded(event){
      	this.addUser('contacts',this.contactToAdd);
            this.contact = this.contactToAdd;
            this.$.ajaxContactInformation.generateRequest();
      	this.contacts.sort(function(a, b) {
              if (a.toLowerCase() < b.toLowerCase()) return -1;
              if (a.toLowerCase() > b.toLowerCase()) return 1;
              return 0;
            });
      },

      addGroupMember: function(event, detail){
        var gm = document.getElementById("memberSelect").value;
        var g = document.getElementById("groupSelect").value;
          if( gm.length >0 && g.length>0){
            this.group = g.trim();
            this.contact = gm.trim();
            this.$.ajaxAddGroupMember.generateRequest();
          }
      },

      contactRemoved(event){
      	this.removeUser('contacts',this.contactToRemove);
      	this.contacts.sort(function(a, b) {
              if (a.toLowerCase() < b.toLowerCase()) return -1;
              if (a.toLowerCase() > b.toLowerCase()) return 1;
              return 0;
            });
      },

      updateContactList(event){
        this.$.ajaxGetContacts.generateRequest();
      },

      _updateGroups(event){
        var result = event.detail.response;
        result = result.substring(1,result.length-1);
        var res = result.split(",");
        this.groups = [];

        for (group in res) {
          this.addUser('groups',res[group].trim());
        }
        if(res.length>0){
          
          if(document.getElementById("groupSelect").value.trim().length>0){
            this._updateGroupMemberlist2();
          }else{
              this.group = res[0].trim();
              this.$.ajaxGetGroupMember.generateRequest();
          }
          
        }
      },

      _updateGroupMemberlist(event){
        var result = event.detail.response;
        result = result.substring(1,result.length-1);
        var res = result.split(",");
        this.groupMember = [];
        this.contactsCanAdd = [];
        for(c in this.contacts){
          this.addUser("contactsCanAdd",this.contacts[c]);
        }
        for (member in res) {
          this.addUser('groupMember',res[member].trim());
          this.removeUserCanAdd('contactsCanAdd',res[member].trim());
          this.contact = res[member].trim();
          this.$.ajaxContactInformation.generateRequest();
        }
        this.groupMember.sort(function(a, b) {
          if (a.toLowerCase() < b.toLowerCase()) return -1;
          if (a.toLowerCase() > b.toLowerCase()) return 1;
          return 0;
        });
      },

      _updateGroupMemberlist2(event){
          //this.group = $("#groupSelect option:selected").text();
          this.group = document.getElementById("groupSelect").value.trim();
          this.$.ajaxGetGroupMember.generateRequest();
      },

      _groupAdded(event){
          this.addUser('groups',this.group);
      },

      _memberAdded(event){
        this.removeUserCanAdd("contactsCanAdd",this.contact);
        this._updateGroupMemberlist2();
      },

      _memberRemoved(event){
        this.addUser("contactsCanAdd",this.contact);
        this._updateGroupMemberlist2();
      },

      _getContactInformation(event){
        var result = event.detail.response;
        result = result.substring(1,result.length-1);
        var res = result.split(",");
        var currentUrl = event.detail.url;
        var currentUser = currentUrl.substring(currentUrl.lastIndexOf('/')+1);
        var imgUrl = res[2].substring(res[2].indexOf('=')+1);
        //$('#img'+currentUser).css("background-image", "url(https://las2peer.org/wp-content/uploads/2016/04/las2peer-logo-circle.png)");  
        $("div[id='img"+currentUser+"']").css("background-image", "url(logo.png)"); 
        $("div[id='imgg"+currentUser+"']").css("background-image", "url(logo.png)"); 
        if(imgUrl.length>1){
          $("div[id='img"+currentUser+"']").css("background-image", "url("+imgUrl+")");  
          $("div[id='imgg"+currentUser+"']").css("background-image", "url("+imgUrl+")");  
        }
      },

      _updateContactList(event){
        var userliste = event.target.lastResponse.users;
        this.contacts = [];
        for (user in userliste) {
        	this.addUser('contacts',userliste[user]);
            this.contact = userliste[user];
            this.$.ajaxContactInformation.generateRequest();
        }
        this.contacts.sort(function(a, b) {
          if (a.toLowerCase() < b.toLowerCase()) return -1;
          if (a.toLowerCase() > b.toLowerCase()) return 1;
          return 0;
        });
      },

      _getUserInformation(event) {
        //var userInformation = JSON.parse(event.target.lastResponse);
        var response  = event.target.lastResponse;
        response = response.substring(1,response.length-1);
        var res = response.split(",");
        firstName = res[0].substring(res[0].indexOf('=')+1);
        lastName = res[1].substring(res[1].indexOf('=')+1);
        userImage = res[2].substring(res[2].indexOf('=')+1);
        document.getElementById('firstName').setAttribute('value',firstName);
        document.getElementById('lastName').setAttribute('value',lastName);
        document.getElementById('userImage').setAttribute('value',userImage);
        $('#dropdown-button').css("background-image", "url("+ userImage +")");  
       console.log(firstName + " " + lastName + ", " + userImage);
      },

      _updatedUserInformation(event){
          $('#dropdown-button').css("background-image", "url("+ userImage +")");  
          console.log("updated userinformation.");
      },

      _updatePermission(event){
        var permissions = event.target.lastResponse;
        var res = permissions.split(",");
        this.firstNamePermission = res[0].substring(res[0].indexOf('=')+1);
        this.lastNamePermission = res[1].substring(res[1].indexOf('=')+1);
        this.userImagePermission = res[2].substring(res[2].indexOf('=')+1);
        this.userImagePermission = this.userImagePermission.substring(0, this.userImagePermission.length - 1);
        if(this.firstNamePermission=="true"){
          document.getElementById('firstNamePermission').setAttribute('checked',this.firstNamePermission);
        }
        if(this.lastNamePermission=="true"){
          document.getElementById('lastNamePermission').setAttribute('checked',this.lastNamePermission);
        }
        if(this.userImagePermission=="true"){
          document.getElementById('userImagePermission').setAttribute('checked',this.userImagePermission);
        } 
      },

      _handleError(event) {
        //alert(event.target.lastResponse);
        console.log(event._);
      },

      _isNull(val) {
        return val == null;
      }
    });
  </script>
</dom-module>
